In [8]:
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from PIL import Image
# And libraries for data transformation
import datetime
#words counter
from collections import Counter
import re

from plotly.offline import iplot
from settings import states_abb

In [12]:
df_case = pd.read_csv('src/us_case_analysis.csv')
df_case

,date,tweet_us,AL,AK,AZ,AR,CA,CO,CT,DE,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,1/22/20,5070,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1/23/20,29788,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1/24/20,104594,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1/25/20,189463,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1/26/20,297655,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,5/04/20,13601803,8112,370,8924,3491,55884,16918,29973,5288,...,2668,13571,32783,5317,902,19493,15462,1224,8236,596
103,5/05/20,13724102,8437,371,9305,3525,58456,17367,30621,5371,...,2721,13690,33912,5449,907,20257,15594,1246,8566,604
104,5/06/20,13848764,8691,372,9707,3611,60616,17832,30995,5778,...,2780,13938,34928,5595,908,20985,15905,1242,8901,631
105,5/07/20,13967566,9046,374,9945,3703,62148,18370,31784,5939,...,2906,14096,36036,5724,916,21570,16231,1287,9215,635
106,5/08/20,14067296,9385,377,10526,3747,63779,18827,32411,6111,...,3145,14441,37246,5919,919,22342,16388,1323,9590,644

In [13]:
states_abb = np.asarray(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
                        'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
                        'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
                        'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
                        'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'])

In [15]:
# tweets per state
tweets_perstate = np.asarray(df_case.groupby('states_abb').state_abb.count())

tweets_scale = [[0, 'rgb(229, 239, 245)'], [1, 'rgb(1, 97, 156)']]

data = [dict(
        type = 'choropleth',
        autocolorscale = False,
        colorscale = tweets_scale,
        locations = states_abb,
        locationmode = 'USA-states',
        z = tweets_perstate,
        marker = dict(
            line = dict(
                color = 'rgb(255, 255, 255)',
                width = 2)
            ),
        colorbar = dict(
            title = 'Tweets per state')
        )]

layout = dict(
         title = 'United States Heatmap of Tweets Related to COVID-19',
         geo = dict(
             scope = 'usa',
             projection = dict(type = 'albers usa'),
             countrycolor = 'rgb(255, 255, 255)',
             showlakes = True,
             lakecolor = 'rgb(255, 255, 255)')
         )

figure = dict(data = data, layout = layout)
iplot(figure)

KeyError: 'states_abb'